@{
    ViewBag.Title = "CSS Data URI Images";
}
@section Styles {
    @Html.BundleAndRenderStyle("~/bundles/home/datauricss", "~/Content/DataURIs.css")
}
<table>
    <tr>
        <td>
            <div id="illinois"></div>
        </td>
        <td>
            <div id="indiana"></div>
        </td>
        <td>
            <div id="iowa"></div>
        </td>
        <td>
            <div id="michigan"></div>
        </td>
        <td>
            <div id="michiganstate"></div>
        </td>
        <td>
            <div id="minnesota"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="nebraska"></div>
        </td>
        <td>
            <div id="northwestern"></div>
        </td>
        <td>
            <div id="ohiostate"></div>
        </td>
        <td>
            <div id="pennstate"></div>
        </td>
        <td>
            <div id="purdue"></div>
        </td>
        <td>
            <div id="wisconsin"></div>
        </td>
    </tr>
</table>
