@{
    ViewBag.Title = "CSS Images";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Image optimization is always an area of concern for dedicated and thorough web developers.  This site helps to elaborate on the differences between utilizing DataURIs and Sprites for your images via CSS.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Skyline Technologies's Blog</h5>
        Read up on some technology tips, industry trends, and general interesting topics in the world of IT.  Even if you do not have an IT background, there's always great content to be absorbed.  <em>Thought leadership, demonstrated.</em>
        <a href="http://www.skylinetechnologies.com/Blog.aspx">Check it out…</a>
    </li>

    <li class="two">
        <h5>Northeast Wisconsin's Developers Users Group</h5>
        Learn from other IT professional in northeast WI.
        <a href="http://newdug.org/">Learn more…</a>
    </li>

    <li class="three">
        <h5>Network with Me</h5>
        Besure to check out my <a href="http://www.twitter.com/KWondra">Twitter</a> and <a href="http://www.linkedin.com/in/kurtwondra">LinkedIn</a> accounts to connect with me.
    </li>
</ol>
