@{
    ViewBag.Title = "CSS Sprite Images";
}
@section Styles {
    @Html.BundleAndRenderStyle("~/bundles/home/spritecss", "~/Content/TeamLogoSprite.css")
}
<table>
    <tr>
        <td>
            <div class="teamlogo teamlogo-illinois"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-indiana"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-iowa"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-michigan"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-michiganstate"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-minnesota"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="teamlogo teamlogo-nebraska"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-northwestern"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-ohiostate"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-pennstate"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-purdue"></div>
        </td>
        <td>
            <div class="teamlogo teamlogo-wisconsin"></div>
        </td>
    </tr>
</table>
